/example/helloopenssl/x64/Debug/helloopenssl.tlog
/example/helloopenssl/x64/Debug/helloopenssl.exe
/example/helloopenssl/x64/Debug/helloopenssl.ilk
/example/helloopenssl/x64/Debug/helloopenssl.log
/example/helloopenssl/x64/Debug/helloopenssl.pdb
/example/helloopenssl/x64/Debug/main.obj
/example/helloopenssl/x64/Debug/vc141.idb
/example/helloopenssl/x64/Debug/vc141.pdb
